
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.icon-action {
  font-size:2em;
  color: #355359;
  cursor: pointer
}

.icon-action:hover {
  color: lighten(#355359, 15%);
}

.flex {
  display: flex;
}

.space-around {
  justify-content: space-around;
}

.alert {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 4px solid #c3e6cb;
  border-radius: 0px;
}

.button-primary {
  padding: 10px 40px;
  font-weight: bold;
}

.w-max {
  width: 100%;
}

#journey-form {
  border-top: 4px solid #38C172;
  background-color: white;
  box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
  border-radius: 4px;
  padding: 20px
}

.journey-form-edit {
  border-top: 4px solid #F6993F;
}
